.resultDiv{
    width: 200px;
    height: 50px;
    border: 1px solid  black;
margin-bottom: 20px;
}

.playerScoreDiv{
    width: 20px;
    height: 20px;
    border: 1px solid  black;
   
}

.computerScoreDiv{
    width: 20px;
    height: 20px;
    border: 1px solid  black;
    
}

.winnerDiv{
    width: 150px;
    height: 50px;
    border: 1px solid  black;
    
}